services:
  - type: web
    name: consumer-durable-api
    runtime: docker
    region: singapore
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30
      - key: REFRESH_TOKEN_EXPIRE_DAYS
        value: 7
      - key: DEBUG
        value: false
      - key: CORS_ORIGINS
        value: '["https://erp-five-phi.vercel.app","http://localhost:3000"]'
    healthCheckPath: /health
